<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>多文件上传</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<form method="POST" enctype="multipart/form-data" action="/uploadFile">
    <p>文件1：<input type="file" name="file" /></p>
    <p>文件2：<input type="file" name="file"/></p>
    <input type="submit" value="上传" />
</form>
</body>
</html>